<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="{% static 'main/css/bootstrap_flatly.css' %}" rel="stylesheet">
    <title>TRT</title>
</head>

<body style="background-color: #ffffff; height: 100%; display: flex; flex-direction: column;">
    {% include "main/includes/navbar.html" %}
    {% if plot_shown == True %}
    <div class="container" style="flex: 1 0 auto; max-width: 85%;">
        {% else %}
        <div class="container" style="flex: 1 0 auto;">
            {% endif %}
            <main>

                <div style="padding: 30px 0;">
                    {% block content %}

                    {% endblock %}
                </div>
            </main>
        </div>
    </div>

    {% include "main/includes/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>