{% extends "main/files_wrapper.html" %}


{% block files %}
<h3 class="text-center">Dostępne pliki w bazie danych</h3>
<table class="table table-hover">
    <thead>
        <tr class="table">
            <th>Nazwa</th>
            <th>Data</th>
            <th>Pobierz</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr class="table">
            <td>{{ file.file_name }}</td>
            <td> {{ file.upload_date }}</td>
            <td>
                <a href="{{ file.file_object.url }}" class="btn btn-primary bt-sm" data-toggle="tooltip" data-placement="top" title="Pobierz plik" target="_blank">Pobierz</a>
            </td>
            <td>
                <form action="{% url 'main:delete_file' file.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger bt-sm" data-toggle="tooltip" data-placement="top" title="Usuń plik z serwera">Usuń</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}