{% extends "main/base_layout.html" %}

{% block content %}
<div class="container wrapper">
    <div class="jumbotron">
        <h2 class="text-primary text-center"><b>
                Aplikacja TRT
            </b></h2>
        <span class="text-justify">
            <h4 text="text-scondary">
                Aplikacja służy do interpretacji testów reakcji termicznej górotworu.
                Podzielona jest ona na następujące moduły:
                <ul>
                    <li><a href="#id_modul_pliki">Moduł obsługujący pliki pomiarowe</a></li>
                    <li><a href="#id_modul_parametry">Moduł obsługujący wprowadzanie parametró</a></li>
                    <li><a href="#id_modul_obl">Moduł obliczeniowy</a></li>
                </ul>
            </h4>
        </span>

        <br>
        <span id="id_modul_pliki">
            <h3 class="text-primary text-center"><b>
                    Moduł obsługujący pliki
                </b></h3>
            <span class="text-justify">
                <h4 text="text-scondary">
                    Moduł ten odpowiada za przesyłanie plików na serwer, ich zapisywanie oraz usuwanie.
                    W zakładce <a href="{% url 'main:files_list' %}">pliki</a> można zobaczyć aktulanie dostępne pliki,
                    pobrać oraz usunąć plik.
                    Drugą zakładką jest strona <a href="{% url 'main:upload_file' %}">przesyłania plików</a> gdzie można
                    dodać plik
                    wprowadzając takie parametry jak:
                    <ul>
                        <li>Nazwa pliku - widoczna na serwerze</li>
                        <li>Opis pliku - dodatkowy opis pliku służący do dodania komentarza do pliku</li>
                        <li>Plik - wybrany plik z dysku</li>
                        <li>Tag - tag określający czy plik przesyłany jest w ramach przedmiotu ZSZI lub ISP</li>
                    </ul>
                </h4>
            </span>
        </span>

        <br>
        <span id="id_modul_parametry">
            <h3 class="text-primary text-center"><b>
                    Moduł obsługujący paramtery
                </b></h3>
            <span class="text-justify">
                <h4>
                    Moduł ten odpowiada za wprowadzanie parametrów testu reakcji termicznej na serwer, ich zapisywanie,
                    przeglądanie
                    oraz usuwanie. W zakładce <a href="{% url 'main:parameters_list' %}">parametery</a> można
                    zobaczyć aktulanie dostępne parametry w bazie danych, przejść do wypisania wprowadzonych wartości,
                    ich edycji lub
                    usunąć parametry z bazy danych. Drugą zakładką jest formularz <a href="{% url 'main:parameters' %}">
                        dodawania parametrów</a> do bazy danych. Formularz pozwala na wprowadzenie danych (pogrubione są
                    wymagane zawsze):
                    <ul>
                        <li>Nazwa modelu - widoczna na serwerze nazwa modelu parametrów</li>
                        <li>Opis modelu - dodatkowy opis modelu służący do dodania informacji o nim</li>
                        <li>Plik - wybrany plik z dostępnych na serwerze z tagiem ZSZI</li>
                        <ul class="text-info">
                            <span class="text-primary">Kolumny (nagłówki pliku csv) powinny posiadać poniższe nazwy,
                                dobrze aby została zachowana ewentualna kolejność. Konieczne wartości:</span>
                            <li><b>t</b> - kolumna czasu [s]</li>
                            <li><b>T_in</b> - temperatura na wlocie do wymiennnika [&#176;C]</li>
                            <li><b>T_out</b> - temperatura na wylocie z wymiennnika [&#176;C]</li>
                            <span class="text-primary">Wartości dodatkowe, które po wprowadzeniu posłużą do obliczeń.
                                Jeśli któryś z poniższych parametrów nie zostanie podany, to jeśli to możliwe zostanie
                                obliczony z innych dostępnych danych. Jeżeli nie będzie dało się go wyliczyć zostanie
                                przyjęty jako wprowadzony w formularzu.</span>
                            <li>Q_v - przepływ czynnika przez wymiennik [m<sup>3</sup>/s]</li>
                            <li>v - prędkość przepływu [m/s]</li>
                            <li>Q - moc cieplna [W]</li>
                            <span class="text-primary">Prędkość przepływu może posłużyć do wyznaczenia przepływu jeśli
                                wprowadzone zostały odpowiednie wymiary rur wymiennika. Z kolei moc może zostać
                                wyznaczona
                                na podstawie różnicy temperatury i przepływu czynnika.
                            </span>
                        </ul>
                        <li>Parametry testu - parametry testu w postaci wartości średnich:</li>
                        <ul class="text-info">
                            <li>qv - średni przepływ przez wymiennik [m<sup>3</sup>/s]</li>
                            <li>q - średnia moc cieplna [W]</li>
                            <li>v - średnia prędkość przepływu przez wymiennik [m/s]</li>
                            <span class="text-primary">W przypadku pól które można wprowadzić na różne sposoby
                                priorytet mają dane w pliku. Na przykład kolumna prędkości przepływu ('v') w pliku jest
                                ważniejsza niż
                                wartość średnia v. Z kolei kolumna przeływu ('Q_v') jest ważniejsza niż wprowadzony
                                przepływ - qv. Jesli
                                wprowadzimy kolumne prędkości ('v') i jakiś parametr rury to przepłw ('Q_v') zostanie
                                wyliczone z średnicy i
                                prędkości, ostatecznie jeśli nie będzie się dało wyliczyć przepływu zostanie on pobrany
                                z
                                pola qv jako wartość średnia, pod warunkiem że nie wprowadzono w pliku kolumny 'Q_v'.
                                Podobnie jest z mocą,
                                pierwszeństwo ma kolumna 'Q', jeśli nie została podana a da sie ją wyliczyć z przepływu
                                to zostanie wyliczona,
                                ostatecznie zostanie podjęta próba pobrania wartości średniej z formularza.
                            </span>
                        </ul>
                        <li>Parametry medium - parametry cieczy użytej w teście:</li>
                        <ul class="text-info">
                            <li><b>cp_m</b> - ciepło właściwe cieczy [J/(kg&#183;K)]</li>
                            <li><b>ro_m</b> - gęstość cieczy [kg/m<sup>3</sup>]</li>
                            <li>mi_m - współczynnik lepkości dynamicznej [Pa&#183;s]</li>
                            <li>lam_m - współczynnik przewodzenia płynu [W/(m&#183;K)]</li>
                            <span class="text-primary">Ciepło właściwe cieczy oraz jego gęstość są potrzebne w przypadku
                                konieczności wyznaczenie mocy cieplnej z przepływu oraz różnicy temperatury na wejściu i
                                wyjściu z wymiennika. Współczynnik przewodzenia i lepkości dynamicznej nie są używane w
                                obliczeniach.
                            </span>
                        </ul>
                        <li>Parametry górotworu (wartości średnie):</li>
                        <ul class="text-info">
                            <li><b>cp</b> - ciepło właściwe cieczy [J/(kg&#183;K)]</li>
                            <li><b>ro</b> - gęstość górotworu [kg/m<sup>3</sup>]</li>
                            <li>alfa - &#945; - dyfyzyjność [m<sup>2</sup>/s]</li>
                            <li>T_g - niezakłócona temperatura gruntu [&#176;C]</li>
                            <span class="text-primary">Ciepło właściwe górotworu oraz jego gęstość są potrzebne do
                                wyznaczenia
                                rezystancji termicznej odwiertu. Dyfuzyjność oraz temperatura niezakłócona gruntu są
                                opcjonalne,
                                w przypadku podania temperatury zostanie ona pobrana przez algorytm, z kolei w przypadku
                                jej braku
                                zostanie wyznaczona jako średnia z pierwszych wartości kolumn T_in i T_out.
                            </span>
                        </ul>
                        <li>Parametry wymiennika:</li>
                        <ul class="text-info">
                            <li><b>H</b> - głębkość wymiennika [m]</li>
                            <li><b>B_b</b> - średnica otworu pod wymiennik [m]</li>
                            <li>d_out - średnica zewnętrzna rury [m]</li>
                            <li>d_inn - średnica wewnętrzna rury [m]</li>
                            <li>r_g - grubość ścianki rury [m]</li>
                            <span class="text-primary">Głebkość wymiennika oraz jego średnica są wymagane, pozostałe
                                parametry
                                posłużą jeśli to potrzebne do wyznaczenia przepływu jeśli została podana prędkość
                                przpływu. Wystarczy
                                wprowadzić średnice wewnętrzna rury lub zewnętrzna wraz z grubością ścianki. Mowa tu o
                                rurze przez, która
                                przepływa czynnik.
                            </span>
                        </ul>
                    </ul>
                </h4>
            </span>
        </span>
        <br>
        <span id="id_modul_obl">
            <h3 class="text-primary text-center"><b>
                    Moduł obliczeń
                </b></h3>
            <span class="text-justify">
                <h4>
                    Moduł obliczeń służy do przeprowadzenia interpretacji testu. Po odpowiednim wprowadzeniu parametrów
                    w zakładce <a href="{% url 'main:parameters' %}">Parametry</a> można je wybrać z listy. Po wybraniu
                    na pierwszej stronie obliczeń dostępne są ustawienia skali logarytmicznej czasu, wykresu funkcji T_f
                    tj. funkcji służącej do dopasowania modelu regeresji. Dodatkowo można wybrać sposób uśredniania
                    przebiegów.
                    Po zatwierdzeniu wyboru za pomocą przycisku "Pokaż wykres" wyświetlona zostanie kolejna strona
                    związana z
                    interpratacją pomiarów. Jeśli zaznaczona zostanie opcja wykresu funkcji TRT pojawi się opcja
                    dopasowania
                    regresji liniowej, na tej podstawie wyznaczone zostaną wyniki, które pojawią się poniżej
                    wprowadzonych
                    parametrów interpretacji.
                </h4>
            </span>
        </span>
    </div>

</div>
{% endblock %}