{% extends "main/base_layout.html" %}

{% block content %}
<div class="jumbotron">

    <h2 class="text-center">Dane pomiarowe z projektu <br> Inteligentne Systemy Pomarowe</h2>

    <br>
    <p>
        <h3 class="text-center">W trakcie budowy ...</h3>
    </p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5"
            aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
    </div>
    
    <br>
    <p>Plik: {{file.file_name }} <br> {{ file.upload_date }} </p>
    {% for plot in plot_div %}
    <div>
        {% autoescape off %}
        {{ plot }}
        {% endautoescape %}
    </div>
    {% endfor %}

</div>
{% endblock %}