{% extends "main/base_layout.html" %}

{% block content %}
<div class="jumbotron">

    <h2 class="text-center">Parametry</h2>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <button class="btn btn-block btn-primary" data-toggle="tooltip" data-placement="top"
                title="Lista aktualnych modeli w bazie danych">
                <a href="{% url 'main:parameters_list' %}" class="text-white">
                    <h3>Lista</h3>
                </a>
        </div>
        <div class="col">
            </button>
            <button class="btn btn-block btn-primary text-white" data-toggle="tooltip" data-placement="top"
                title="Formularz dodania nowego pliku na do bazy danych">
                <a href="{% url 'main:parameters' %}" class="text-white">
                    <h3>Nowy</h3>
                </a>
            </button>
        </div>
        </button>
    </div>

    {% block parameters %}

    {% endblock %}
</div>


</div>
{% endblock %}