{% extends "main/base_layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2 class="text-center">Obliczenia</h2>
    <br>
    <form action="" method='POST'>
        {% csrf_token %}
        <div class="row">
            <div class="col-8">
                <label class="form-label" for="id_chosen_model">Model parametrów</label>
                <select class="form-control" id="id_chosen_model" name='chosen_model'>
                    {% for model in models %}
                    {% if opts.chosen_model == model.model_name %}
                    <option selected="selected"> {{ model.model_name }} </option>
                    {% else %}
                    <option> {{ model.model_name }} </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <div class="custom-control custom-switch" style="position: absolute; bottom: 10px;">
                    {% if  not opts.log_scale == None %}
                    <input class="custom-control-input" type="checkbox" name="log_scale" value="1" checked=""
                        id="id_log_scale">
                    {% else %}
                    <input class="custom-control-input" type="checkbox" name="log_scale" value="1" id="id_log_scale">
                    {% endif %}
                    <label class="custom-control-label" for="id_log_scale">Skala logarytmiczna</label>
                </div>

            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-4">
                <!-- <div class="form-group" >
                    <label class="form-label">Podaj granice okna czasowego</label>
                    <input class="form-control" type="text" name="t_1" placeholder="Dolna granica">
                    <input class="form-control" type="text" name="t_2" placeholder="Górna granica">
                </div> -->
            </div>

            <div class="col-4">
                <div id="mean_context" class="collapse">
                    <div class="form-group">
                        <label class="form-label">Podaj liczbe próbek</label>
                        <input class="form-control" type="text" name="win_len" placeholder="Liczba próbek">
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" name="win_pos" value="1"
                                id="id_win_pos">
                            <label class="custom-control-label" for="id_win_pos">Uśrednianie do środka okna
                                ruchomego</label>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-4">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" role="checkbox" name="mean_mode" value="1"
                        id="id_mean_mode" aria-expanded="false" aria-controls="mean_context" href="#mean_context"
                        data-toggle="collapse">
                    <label class="custom-control-label" for="id_mean_mode">Średnia ruchoma</label>
                </div>
                <div class="custom-control custom-switch">
                    <!--style="position: absolute; bottom: 10px;" -->
                    <input class="custom-control-input" type="checkbox" name="show_tf" value="1" id="id_show_tf">
                    <label class="custom-control-label" for="id_show_tf">Wykres funkcji TRT</label>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                    title="Pokaż dane">Pokaż
                    wykres</button>
                <input name="plot_shown" value="{{ plot_shown }}" style="display: none;"></input>
            </div>
        </div>

    </form>

</div>
{% endblock %}