{% extends "main/base_layout.html" %}

{% block content %}
<div class="jumbotron">
    <h2 class="text-center">Obliczenia</h2>

    <br>
    <form action="" class="row" method='POST'>
        {% csrf_token %}
        <div class="col-8">
            <select class="form-control" id="id_chosen_model" name='chosen_model'>
                {% for model in models %}
                    {% if chosen_model == model.model_name %}
                        <option selected="selected"> {{ model.model_name }} </option>
                    {% else %}
                        <option> {{ model.model_name }} </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                title="Pokaż dane">Pokaż wykres</button>
            <input name="pk_param" value="{{pk_param}}" style="display: none;"></input>
        </div>
    </form>
    <br>
    <h2 class="text-center">Dane pomiarowe</h2>
    <div>
        {% if plot_div is not None %}
        {% for plot in plot_div %}
        {% autoescape off %}
        {{ plot }}
        {% endautoescape %}
        {% endfor %}
        {% endif %}
    </div>




</div>
{% endblock %}