<footer class="navbar navbar-expand-lg navbar-dark bg-primary navbar-inner footer" style="position: absolute; bottom: 0; left: 0; width: 100%; border: none">
    <div class="col">
        <span class="navbar-text">
            Copyright © 2019 TRT App Inc.
    </span>
    </div>
    <div>
        <span class="text-white">
            ZSZI Project
        </span>
    </div>
    <div class="col">
        <a class="nav-link float-right navbar-text" href="https://github.com/De4r">GitHub</a>
        
    </div>
</footer>
